@model Slider

@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Slider Güncelle Sayfası</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="SliderID"/>
            <label>Slider Başlık</label>
            <input type="text" asp-for="Title" rows"5" class="form-control" />
            <br />
            <label>Açıklama</label>
            <input type="text" asp-for="Description" rows"5" class="form-control" />
            <br />
            <label>Göresel Url</label>
            <input type="text" asp-for="ImageUrl" rows"5" class="form-control" />
            <br />
            <button class="btn btn-success">Slider Güncelle</button>
        </form>
    </div>
</div>