@model TrailerVideo

@{
    ViewData["Title"] = "CreateTrailerVideo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Video Ekleme Sayfası</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="TrailerVideoId" />
            <label>Video Başlığı</label>
            <input type="text" asp-for="Title" rows"5" class="form-control" />
            <br />
            <label>Kapak Fotoğrafı</label>
            <input type="text" asp-for="CoverImageUrl" rows"5" class="form-control" />
            <br />
            <label>Vidoe YouTube Embet Url</label>
            <input type="text" asp-for="VideoUrl" rows"5" class="form-control" />
            <br />
            <button class="btn btn-primary">Vido Kaydet</button>
        </form>
    </div>
</div>

